Repository RedHatInsights/rhsm-subscriptions, pull requests merged in 2025-08, with the labels that each got.

#4832 Fix Swagger UI for swatch-tally service in stage/prod environments
  src/main/java/org/candlepin/subscriptions/resteasy/ResteasyConfiguration.java
  src/main/resources/static/api-docs/index.html
Labels: QE Unneeded, swatch-1

#4838 SWATCH-3545: Use org_id as message key when creating events via tally API
  src/main/java/org/candlepin/subscriptions/event/EventConflictResolver.java
  src/main/java/org/candlepin/subscriptions/tally/admin/InternalTallyResource.java
  src/test/java/org/candlepin/subscriptions/tally/admin/InternalTallyResourceTest.java
Labels: QE Unneeded, Dev/approved, swatch-1

#4837 SWATCH-3824: Date Filtering Not Working for OpenShift Products Instances API
  api/rhsm-subscriptions-api-v1-spec.yaml
  swatch-product-configuration/src/main/java/com/redhat/swatch/configuration/registry/SubscriptionDefinition.java
  swatch-product-configuration/src/test/java/com/redhat/swatch/configuration/registry/SubscriptionDefinitionTest.java
Labels: question, QE, Dev, swatch-1

#4857 SWATCH-3778: Implement POST /api/swatch-metrics-hbi/internal/outbox
  swatch-metrics-hbi/pom.xml
  swatch-metrics-hbi/src/main/java/com/redhat/swatch/hbi/events/model/OutboxRecordMapper.java
  swatch-metrics-hbi/src/main/java/com/redhat/swatch/hbi/events/repository/HbiEventOutbox.java
  swatch-metrics-hbi/src/main/java/com/redhat/swatch/hbi/events/repository/converters/EventConverter.java
  swatch-metrics-hbi/src/main/java/com/redhat/swatch/hbi/events/resources/InternalResource.java
  swatch-metrics-hbi/src/main/java/com/redhat/swatch/hbi/events/services/HbiEventOutboxService.java
  swatch-metrics-hbi/src/main/resources/META-INF/openapi.yaml
  swatch-metrics-hbi/src/test/java/com/redhat/swatch/hbi/events/repository/HbiEventOutboxRepositoryTest.java
  swatch-metrics-hbi/src/test/java/com/redhat/swatch/hbi/events/resources/InternalResourceTest.java
  swatch-metrics-hbi/src/test/java/com/redhat/swatch/hbi/events/services/HbiEventOutboxServiceTest.java
Labels: QE, Dev/approved, swatch-1
