Repository RedHatInsights/rhsm-subscriptions, pull requests merged in 2025-10, with the labels that each got.

#5008 SWATCH-4011: Allow debugging SWATCH services when running component tests in debug mode
  Makefile
  docs/component-tests.md
  swatch-test-framework/src/main/java/com/redhat/swatch/component/tests/api/configuration/ServiceConfiguration.java
  swatch-test-framework/src/main/java/com/redhat/swatch/component/tests/configuration/ServiceConfiguration.java
  swatch-test-framework/src/main/java/com/redhat/swatch/component/tests/configuration/ServiceConfigurationBuilder.java
  swatch-test-framework/src/main/java/com/redhat/swatch/component/tests/core/ServiceContext.java
  swatch-test-framework/src/main/java/com/redhat/swatch/component/tests/logging/ContainerLoggingHandler.java
  swatch-test-framework/src/main/java/com/redhat/swatch/component/tests/logging/FileServiceLoggingHandler.java
  swatch-test-framework/src/main/java/com/redhat/swatch/component/tests/logging/OpenShiftLoggingHandler.java
  swatch-test-framework/src/main/java/com/redhat/swatch/component/tests/logging/ServiceLoggingHandler.java
  swatch-test-framework/src/main/java/com/redhat/swatch/component/tests/resources/containers/LocalContainerManagedResource.java
  swatch-test-framework/src/main/java/com/redhat/swatch/component/tests/resources/quarkus/LocalQuarkusManagedResource.java
Labels: QE Unneeded, Dev

#5030 SWATCH-4003: Build image and deploy the swatch-utilization in EE
  build_deploy.sh
  pr_check.sh
  swatch-utilization/src/main/resources/application.properties
Labels: swatch-utilization

#5034 ci: fix ClowderJsonPropertySourceTest in mac
  swatch-core/src/test/java/org/candlepin/subscriptions/clowder/ClowderJsonPropertySourceTest.java
Labels: swatch-tally, swatch-system-conduit

#5049 SWATCH-4034: Remove activeDeadlineSeconds property and increase the memory requests/limits for jobs
  swatch-billable-usage/deploy/clowdapp.yaml
  swatch-contracts/deploy/clowdapp.yaml
  swatch-metrics/deploy/clowdapp.yaml
  swatch-system-conduit/deploy/clowdapp.yaml
  swatch-tally/deploy/clowdapp.yaml
Labels: swatch-billable-usage, swatch-contracts, swatch-metrics, swatch-tally, swatch-system-conduit

#5016 SWATCH-3980: Tally Component Test Setup
  pom.xml
  swatch-producer-azure/ct/java/tests/SimpleAzureComponentTest.java
  swatch-tally/ct/README.md
  swatch-tally/ct/java/tests/BaseTallyComponentTest.java
  swatch-tally/ct/java/tests/SimpleTallyComponentTest.java
  swatch-tally/ct/pom.xml
  swatch-test-framework/src/main/java/com/redhat/swatch/component/tests/api/SpringBoot.java
  swatch-test-framework/src/main/java/com/redhat/swatch/component/tests/api/configuration/SpringBootServiceConfiguration.java
  swatch-test-framework/src/main/java/com/redhat/swatch/component/tests/api/configuration/SpringBootServiceConfigurations.java
  swatch-test-framework/src/main/java/com/redhat/swatch/component/tests/configuration/springboot/SpringBootServiceConfiguration.java
  swatch-test-framework/src/main/java/com/redhat/swatch/component/tests/configuration/springboot/SpringBootServiceConfigurationBuilder.java
  swatch-test-framework/src/main/java/com/redhat/swatch/component/tests/resources/springboot/LocalSpringBootManagedResource.java
  swatch-test-framework/src/main/java/com/redhat/swatch/component/tests/resources/springboot/OpenShiftSpringBootManagedResource.java
  swatch-test-framework/src/main/java/com/redhat/swatch/component/tests/resources/springboot/SpringBootAnnotationBinding.java
  swatch-test-framework/src/main/resources/META-INF/services/com.redhat.swatch.component.tests.api.extensions.AnnotationBinding
Labels: QE/approved, swatch-1, swatch-producer-azure, swatch-tally

#5059 chore: remove gradle leftovers
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  swatch-common-testcontainers/build.gradle
Labels: QE Unneeded, Dev, swatch-metrics-hbi, swatch-producer-azure, swatch-tally, swatch-producer-aws

#5057 Fixes AttributeError: 'Application' object has no attribute 'curiosity'
  deploy/stage-internal-test-job.yaml
Labels: dependencies, QE, Dev
