Repository RedHatInsights/rhsm-subscriptions, pull requests merged in 2025-09, with the labels that each got.

#4897 SWATCH-3785: Store SWatch events produced by SMHBI in outbox table
  swatch-metrics-hbi/src/main/java/com/redhat/swatch/hbi/events/processing/handlers/CreateUpdateHostHandler.java
  swatch-metrics-hbi/src/main/java/com/redhat/swatch/hbi/events/processing/handlers/DeleteHostHandler.java
  swatch-metrics-hbi/src/main/java/com/redhat/swatch/hbi/events/services/HbiEventConsumer.java
  swatch-metrics-hbi/src/test/java/com/redhat/swatch/hbi/events/processing/HbiEventProcessorTest.java
  swatch-metrics-hbi/src/test/java/com/redhat/swatch/hbi/events/services/HbiEventConsumerTest.java
  swatch-metrics-hbi/src/test/java/com/redhat/swatch/hbi/events/services/HbiEventConsumerTransactionBoundaryTest.java
Labels: Dev/approved, QE/approved, swatch-1

#4928 Add swatch-common-security.include-rbac for inclusion of RbacRolesAugmentor
  swatch-common-security/src/main/java/com/redhat/swatch/common/security/RbacRolesAugmentor.java
  swatch-common-security/src/main/resources/application.properties
Labels: QE Unneeded, Dev

#4911 SWATCH-3862: Configure swatch-common-security in swatch-metrics-hbi
  swatch-common-security/src/main/java/com/redhat/swatch/common/security/PskHeaderAuthenticationMechanism.java
  swatch-common-security/src/main/java/com/redhat/swatch/common/security/RolesAugmentor.java
  swatch-common-security/src/main/java/com/redhat/swatch/common/security/SecurityConfiguration.java
  swatch-metrics-hbi/pom.xml
  swatch-metrics-hbi/src/main/java/com/redhat/swatch/hbi/events/resources/InternalResource.java
  swatch-metrics-hbi/src/main/resources/META-INF/openapi.yaml
  swatch-metrics-hbi/src/main/resources/application.properties
  swatch-metrics-hbi/src/test/java/com/redhat/swatch/hbi/events/resources/InternalResourceTest.java
Labels: QE, Dev

#4973 SWATCH-3895: Add Liquibase preconditions to tables controlled by swatch-contracts
  bin/oc-db
  swatch-database-migrations/src/main/resources/db/202509021332-assume-ownership-of-offerings-and-subscriptions.xml
  swatch-database-migrations/src/main/resources/liquibase/202012181510-add-offering-table.xml
  swatch-database-migrations/src/main/resources/liquibase/202101081600-tweak-offering.xml
  swatch-database-migrations/src/main/resources/liquibase/202101121122-add-subscription-table.xml
  swatch-database-migrations/src/main/resources/liquibase/202102031030-update-subscription-pkey.xml
  swatch-database-migrations/src/main/resources/liquibase/202102261751-add-marketplace-subscription-id.xml
  swatch-database-migrations/src/main/resources/liquibase/202104091791-insert-openshift-skus.xml
  swatch-database-migrations/src/main/resources/liquibase/202107121534-add-subscription-number-to-subscription.xml
  swatch-database-migrations/src/main/resources/liquibase/202110211313-add-rhosak-offering.xml
  swatch-database-migrations/src/main/resources/liquibase/202110211314-add-description-column-to-offering.xml
  swatch-database-migrations/src/main/resources/liquibase/202112171721-add-subscription-indexes.xml
  swatch-database-migrations/src/main/resources/liquibase/202202041415-add-unlimited-usage-column-to-offering-table.xml
  swatch-database-migrations/src/main/resources/liquibase/202202211433-add-billing-provider-column-to-subscription-table.xml
  swatch-database-migrations/src/main/resources/liquibase/202204081020-add-billing-account-id-column-to-subscriptions.xml
  swatch-database-migrations/src/main/resources/liquibase/202210281140-rename-owner-id-to-org-id.xml
  swatch-database-migrations/src/main/resources/liquibase/202211091649-rename-physical-virtual-cores-sockets-columns.xml
  swatch-database-migrations/src/main/resources/liquibase/202212161446-add-derived-sku-to-offering.xml
  swatch-database-migrations/src/main/resources/liquibase/202305031403-create-subscription-measurements-table.xml
  swatch-database-migrations/src/main/resources/liquibase/202306151541-add-sku-foreign-key-to-subscription.xml
  swatch-database-migrations/src/main/resources/liquibase/202306201611-add-subscription-id-index-for-measurements.xml
  swatch-database-migrations/src/main/resources/liquibase/202310131200-remove-account-config.xml
  swatch-database-migrations/src/main/resources/liquibase/202312200751-add-metered-column-for-offering-table.xml
  swatch-database-migrations/src/main/resources/liquibase/202402151211-add-sku-product-tag-table.xml
  swatch-database-migrations/src/main/resources/liquibase/202404080930-add-special_pricing_flag-to-offering.xml
  swatch-database-migrations/src/main/resources/liquibase/202405160950-add-subscription-capacity-view.xml
  swatch-database-migrations/src/main/resources/liquibase/202406120950-update-subscription-capacity-view.xml
  swatch-database-migrations/src/main/resources/liquibase/202406240700-add-subscription-number-index.xml
  swatch-database-migrations/src/main/resources/liquibase/202407030751-add-level-column-for-offering-table.xml
  swatch-database-migrations/src/main/resources/liquibase/202407231110-subscription-capacity-index.xml
  swatch-database-migrations/src/main/resources/liquibase/202409251400-update-subscription-capacity-view-org-id.xml
  swatch-database-migrations/src/main/resources/liquibase/202412041537-primary-keys-on-all-tables.xml
  swatch-database-migrations/src/main/resources/liquibase/202505131100-update-subscription-capacity-view-to-filter-start-date.xml
  swatch-database-migrations/src/main/resources/liquibase/changelog.xml
  swatch-database/src/main/java/org/candlepin/subscriptions/liquibase/cli/MigrationService.java
Labels: swatch-contracts, swatch-tally

#4997 Correct configuration property used for live-reload container builds
  bin/dev-argfile.conf
Labels: Dev

#4918 swatch-3539: get product tag to check db before processing offering
  swatch-contracts/src/main/java/com/redhat/swatch/contract/resource/ContractsResource.java
  swatch-contracts/src/main/java/com/redhat/swatch/contract/service/OfferingProductTagLookupService.java
  swatch-contracts/src/main/resources/META-INF/openapi.yaml
  swatch-contracts/src/test/java/com/redhat/swatch/contract/service/OfferingProductTagLookupServiceTest.java
Labels: QE, Dev/approved, swatch-contracts

#5009 SWATCH-4002: Add Dockerfile.jvm for swatch-notifications
  bin/build-images.sh
  build_deploy.sh
  pr_check.sh
  swatch-utilization/src/main/docker/Dockerfile.jvm
Labels: QE Unneeded, Dev/approved, swatch-utilization
